/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-primary {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-secondary{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247, 247, 247);
}

/*Header & nav styles */
.head-nav{
    max-width: 1160px;
    margin: 0 auto;
    /* background-color: rgb(247, 247, 247);*/
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 62px;
    height: 62px;
}
.logo-img img{
    width: 100%;
}
.logo h1{
    font-size: 2rem;
    font-weight: 700;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
}
.btn1{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: rgb(254, 163, 1);
    border-style: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
}

/* menu color */
.h{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(254, 163, 1);
}
.ab{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(1, 172, 253);
}
.f{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(5, 212, 223);
}
.ad{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(93, 88, 239);
}



/* burger menu */


/* banner styles */
.banner-sec{
    max-width: 1160px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-content > h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.b-content > p{
    font-size: 1.2rem;
    font-weight: 400;
}
.b-content > button{
    margin-top: 20px;
    background-color: rgb(17, 17, 17);
    color: white;
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border-style: none;
}
#c-h-clr1{
    color: rgb(254, 163, 1);
}
#c-h-clr2{
    color: rgb(1, 172, 253);
}
.b-img img{
    display: block;
}

/* Standard Curriculum styles */
.curriculum{
    background-image: url("../assets/bg.png");
    /* background-color: red; */
    max-width: 1160px;

    margin: 0 auto;
}
.card-cont{
    display: flex;
    gap: 28px;
    justify-content: space-between;
}
.curriculum > h1{
    margin: 0;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
    padding: 60px 0 80px;
}
.card-h{
    font-size: 1.5rem;
    font-weight: 700;
    /* margin-bottom: 80px; */
    
}
.card-p{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 28.3px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 38px;
    text-align: center;
    padding: 30px 20px;
    max-width: 367px;
    border-radius: 18.86px;
    /* margin-top: 80px; */
    /* max-height: 476.78px; */
}
.card1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
/* .btn-cont{
    background-color: red;
} */
.c-btn1{
    /* max-width: 100px; */
    text-align: center;
    color: rgb(100, 200, 255);
    border-style: none;
    background-color: white;
}
.c-btn2{
    /* max-width: 100px; */
    text-align: center;
    color: rgb(240, 170, 0);
    border-style: none;
    background-color: white;
}
.c-btn3{
    /* max-width: 100px; */
    text-align: center;
    color: rgb(135, 0, 255);
    border-style: none;
    background-color: white;
}
.c-img{
    width: 133px;
    margin: 0 auto;
    display: block;
    /* padding: 40px; */
}
.pre-next{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    /* background-color: rgb(254, 163, 1); */
}
.round-btn{
    background-color: rgb(254, 163, 1);
    border-radius: 50px;
}




/* small device mobile responsive */
@media screen and (max-width: 576px) {
    .logo h1{
        display: none;
    }
    .menu, .btn1{
        display: none;
    }
    .head-nav{
        max-width: 358px;
        margin: 0 auto;
        padding-top: 12px;
        /* background-color: rgb(247, 247, 247);*/
    }
    .logo-img{
        width: 39.03px;
        height: 46px;
    }
    .nav-section{
        margin: 0;
        border-bottom: 0.5px solid rgb(254, 163, 1);
        /* background-color: brown; */
    }
    /* responsive banner section  */
    .banner-sec {
        max-width: 357px;
        /* margin: 0 auto; */
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .b-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 18px; */
    }
    .b-content > h1{
        font-size: 2rem;
    }
    .b-content > p{
        font-size: 1rem;
    }
    .b-img img{
        max-width: 100%;
    }

    /* .curriculum */
    .card-cont{
        flex-direction: column;
        margin: 0 16px;
    }
    .curriculum > h1{
        font-size: 1.5rem;
        padding: 40px 0 20px 0;
    }
    .pre-next{
        display: none;
    }
}