/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-primary {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-secondary{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247, 247, 247);
}

/*Header & nav styles */
.head-nav{
    max-width: 1160px;
    margin: 0 auto;
    /* background-color: rgb(247, 247, 247);*/
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 62px;
    height: 62px;
}
.logo-img img{
    width: 100%;
}
.logo h1{
    font-size: 2rem;
    font-weight: 700;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
}
.menu li a{
    text-decoration: none;
}
.btn1{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: rgb(254, 163, 1);
    border-style: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
}

/* menu color */
.h{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(254, 163, 1);
}
.ab{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(1, 172, 253);
}
.f{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(5, 212, 223);
}
.ad{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(93, 88, 239);
}



/* burger menu */


/* banner styles */
.banner-sec{
    max-width: 1160px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-content > h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.b-content > p{
    font-size: 1.2rem;
    font-weight: 400;
}
.b-content > button{
    background-color: rgb(17, 17, 17);
    color: white;
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border-style: none;
}
#c-h-clr1{
    color: rgb(254, 163, 1);
}
#c-h-clr2{
    color: rgb(1, 172, 253);
}
.b-img img{
    display: block;
}

/* Standard Curriculum styles */
.curriculum{
    background-image: url("../assets/bg.png");
    /* background-color: red; */
    max-width: 1160px;
    margin: 0 auto;
}
.card-cont{
    display: flex;
}
.curriculum > h1{
    margin: 0;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
}
.card-h{
    font-size: 0.9rem;
    font-weight: 500;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}






/* small device mobile responsive */
@media screen and (max-width: 576px) {
    .logo h1{
        display: none;
    }
    .menu, .btn1{
        display: none;
    }
    .head-nav{
        max-width: 358px;
        margin: 0 auto;
        padding-top: 12px;
        /* background-color: rgb(247, 247, 247);*/
    }
    .logo-img{
        width: 39.03px;
        height: 46px;
    }
    .nav-section{
        margin: 0;
        border-bottom: 0.5px solid rgb(254, 163, 1);
        /* background-color: brown; */
    }
    /* responsive banner section  */
    .banner-sec {
        max-width: 357px;
        /* margin: 0 auto; */
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .b-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 18px; */
    }
    .b-content > h1{
        font-size: 2rem;
    }
    .b-content > p{
        font-size: 1rem;
    }
    .b-img img{
        max-width: 100%;
    }
}